*.backup
*.bak

.claude/

.config/.gsd-keyboard.settings-ported
.config/blender
.config/alacritty/alacritty.toml
.config/atuin
.config/configstore
.config/dconf
.config/evolution
.config/fish/conf.d
.config/fish/fish_variables
.config/fish/ddo_config.fish
.config/gcloud
.config/gnome-initial-setup-done
.config/google-chrome
.config/gtk-3.0
.config/ibus
.config/iterm2
.config/JetBrains
.config/menus
.config/mimeapps.list
.config/monitors.xml
.config/pulse
.config/PureRef
.config/systemd
.config/user-dirs.dirs
.config/user-dirs.locale
.config/uv
.config/ghostty/config.local
.config/ghostty/config.macos.machine

.emacs/emacs.d

.vim/.netrwhist
.vim/bundle
.vim/plugged
.vim/swap

