.config/.gsd-keyboard.settings-ported
.config/alacritty/alacritty.toml
.config/configstore
.config/dconf
.config/evolution
.config/fish/fish_variables
.config/gcloud
.config/gnome-initial-setup-done
.config/google-chrome
.config/gtk-3.0
.config/ibus
.config/iterm2
.config/mimeapps.list
.config/pulse
.config/PureRef
.config/user-dirs.dirs
.config/user-dirs.locale

.emacs/emacs.d

.vim/.netrwhist
.vim/bundle
.vim/plugged
.vim/swap

