[submodule "vim/bundle/clang_complete"]
	path = clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "emacs.d/evil"]
	path = emacs.d/evil
	url = git://gitorious.org/evil/evil.git
